<html>
<head>
 
  <title>Predict Human or Horse ML App</title>
</head>
<body>
    <div ><h1>Predict Human or Horse ml App</h1></div>
 
    <div>
 
    <form action="/predict" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
        <span class="text-left btn btn-default btn-file">
            Upload Image <input type="file" name="image">
        </span>   
     
        <span class="text-right">
          <input type="submit" value="Predict" class="btn btn-primary">
        </span>
      </form>
      </div>
 
</body>
</html>