<html>
<head>
 
    <title>Predict Human or Horse ML App</title>
</head>
<body>
    <div>
        <h1>horse and Human Prediction</h1>
    </div>
 
 
  <div class="container">
  <div class="row">
 
    <div class="col-sm">
      <span class="border border-primary">
        <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
      </span>
    </div>
 
    <div class="col-sm">
      <h1>It's <span class="badge badge-secondary">{{pred_output}}</span></h1>
    </div>
 
  </div>
</div>
 
</body>
</html>